  <body class="t1">
    
    <div [id]="idName" >
      <h1>Hello this is {{name}}</h1>
    </div>
    
    <div>
      <label for="fname">First name:</label>
      <input [style.color]="'grey'" type="text" name="fname" id="name" #firstName>
      <div><br>
        <label for="lname">Last name:</label>
      <input [style.color]="'grey'" type="text" name="lname" id="name" >
      </div>
    </div>
  <br>
    <button [style.color]="'blue'"type="button" (click)="OnButton(firstName)" >Show me!</button>
    
    
    <p [style.color]="haserror?'red':'green'">{{greeting}}</p>

    <br>
    <div>
    <input [(ngModel)]="name2" type="text">
    {{name2}}</div>
  </body> 